

/* Stuff for items */
.routerlink{
    text-decoration: none;
    color: #fafafa;
}
.item{
    border-radius: 1em;
    margin: 6px;
    padding: 10px;
    background: crimson;
    text-align: center;
    width: 200px;
}
.item img{
    width: 150px;
}
.item a{
    width: 25px;
    border: #333 solid 2px;
    margin-top: 4px;
    background: #333;
}
.item a:hover{
    cursor: pointer;
}
.available{
    background: #52810c;
}
/* Stuff for searchbar */
.searchcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.searchcontainer img{
    width: 100%;
    z-index: -2;
}

/* App */
#app {
    font-family: poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fafafa;
    height: 100%;
    min-height: 91.5vh;
  }
  body{
    margin: 0;
    padding: 0;
    background: white ;
    min-height: 100vh;
  }
  *{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: poppins;
    color: black;
  }
  ul{
    list-style: none;
  }